{% extends "accounts/base.html" %}


    

    {%block content%}
    {% include "accounts/status.html" %}

    
    
    <div class="container my-4">
  <h5 class="mb-4">CUSTOMERS:</h5>

  <div class="row">
    <!-- Customers Section -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <a href="#" class="btn btn-primary mb-3">Create Customer</a>
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Customer</th>
               
                <th>Phone Number</th>
                
              </tr>
              
            </thead>
            <tbody>
              <!-- Sample row -->
              
                {% for customer in customers%}
                <tr>
                  <td>{{customer.name}}</td>
                  <td>{{customer.phone}}</td>

                  </tr>

                {%endfor%}
                
             
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Orders Section -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'create_order' %}" class="btn btn-primary mb-3 float-end">Create Order</a>
          <div class="clearfix"></div>
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Product</th>
                <th>Date Ordered</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
              </tr>
               {% for order in orders%}
                <tr>
                  <td>{{order.product}}</td>
                  <td>{{order.date_ordered}}</td>
                   <td>{{order.status}}</td>

                   <td><a href="">Update</td>
                    <td><a href="">Delete</td>


                  </tr>

                {%endfor%}
                
            </thead>
            <tbody>
              <!-- Sample row -->
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


    {%endblock%}
    
